.active {
	background-color: #7FFFD4;
	color: #887CAF;
}
body{
	background-color: #f5f5dc;
	background-image: url("https://www.artlist.nl/wp-content/uploads/2016/12/F0016-xxx-1200x1000.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
	font-family: verdana;
	font-size: 15px;
	margin: 0px;
}
#breadcrumbs {
	display: none;
}
.class #down{
	font
}
#container{
	background-color: white;
	width: 1250px;
	margin: 0 auto;
}
#content{
	padding: 15px;
	height: 1500px;
	
	
}
#footer {
	background-color: #14083C;
	font-variant: small-caps;
}
#footer a{
	color: #887CAF;
	text-decoration: underline;
	font-variant: small-caps;
}
#footer a:hover{
	text-decoration: none;
}
h1 .border{
	color: #14083C;
	width: 3px;
	display: show;
}
h3{
	font-weight: bold;
}
#header{
	text-align: center;
}
#header  a {
	font-weight: bold;
	text-decoration: none;
	font-size: 45px;
}
#menu{
	background-color: #887CAF;
	color: #14083C;
}
#menu a {
	color: #14083C;
	text-decoration: none;
	padding: 15px 20px;
}
#menu a:hover{
	background-color: #605092;
	color: #271858;
}
p{
	text-indent: 30px;
}
table, tr, td{
	border-collapse: collapse;
}
